.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('https://images.unsplash.com/photo-1571330422950-0de5787b593b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3029&q=80');
  background-size: cover;


  .loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    .loginTitle {
      font-size: 50px;
      align-self: center;
      margin-bottom: 20px;
    }

    label {
      margin: 10px 0px;
    }

    .loginInput {
      padding: 10px;
      background-color: white;
      border: none;
      border-bottom: 1px solid lightgray;
    }

    .loginButton {
      margin-top: 20px;
      cursor: pointer;
      background-color: lightcoral;
      border: none;
      color: white;
      border-radius: 10px;
      padding: 10px;

      &:disabled {
        cursor: not-allowed;
        background-color: lightgray;
      }
    }
  }

  .loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: goldenrod;
    cursor: pointer;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }

}